<ul>

<li>
    <%= link_to comment.content, comment_url(comment) %>
    Author: <%= comment.author.username %>
    Created At: <%= comment.created_at %>
    <% all_comments.each do |c2| %>
      <% if c2.parent_comment_id == comment.id %>
        <%= render 'comments/comment', comment: c2, all_comments: all_comments %>
      <% end %>
    <% end %>
</li>

</ul>
