<header class="masthead">

<nav class="language-nav">
  <ul>
    <li>
      <a href="">CSS</a>
    </li>
    <li>
      <a href="">HTML</a>
    </li>
    <li>
      <a href="">Javascript</a>
    </li>
    <li>
      <a href="">Ruby</a>
    </li>
  </ul>
</nav>

<figure class="logo">
  <img src="assets/AA_Times_Logo.png" alt="Example Image">
</figure>

<nav class="masthead-links">
  <ul>
    <li>
      <time>Tuesday, October 18, 2016</time>
    </li>
  </ul>
  <ul>
    <li>
      <i class="fa fa-newspaper-o"></i><a href="">Today's Paper</a>
    </li>
  </ul>
  <ul>
    <li>
      <i class="fa fa-video-camera"></i><a href="">Video</a>
    </li>
  </ul>
  <ul>
    <li>
      <button type="button">77°F</button>
    </li>
  </ul>
  <ul>
    <li>
      <button type="button">AAO <strong>+100%</strong></button>
    </li>
  </ul>
</nav>

</header>
